<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>log</title>
</head>
<body>
<form action="/log" method="post">
<div>
<div class="row">

       <div id="f1" class="form-group">
                     <label class="col-sm-2 control-label" id="u">User Name:</label>
                      <div class="col-xs-4"><input class="form-control input-sm" name="user" type="text"></div>
        </div>
        <div id="f1" class="form-group">
                     <label class="col-sm-2 control-label" id="p">Password:</label>
                      <div class="col-xs-4"><input class="form-control input-sm" name="passw" type="password"></div>
        </div>
         <div id="f1" class="form-group">
                     <div class="col-sm-offset-2 col-sm-4"><button type="submit" class="btn-primary btn-md">Login</button></div>
                     <div class="form-group">
                     </div>
         </form>
</body>
</html>